.main-content .content figure {
    float: left;
    margin: 3px 30px 0px 0;
    display: inline-block;
    width: 50%;
    height: 50%;
}

.main-content .content img {
    float: none;
    margin: 3px 30px 0px 0;
    border: #BDBDBD 5px solid;
}

.main-content .content figure figcaption {
    font-style: italic;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.main-content .content {
    padding-left: 0.5cm;
    padding-right: 0.5cm;
    text-align: justify;
}

sup {
    vertical-align: super;
    font-size: smaller;
}